<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <targets>
    <!-- exeのあるフォルダー直下の logs/yyyy_MM_dd_ScanSnapShot.log に日別出力し、30日を超えたログはNLogが自動削除 -->
    <target xsi:type="File"
            name="logfile"
            fileName="${basedir}/logs/${date:format=yyyy_MM_dd}_ScanSnapShot.log"
            archiveFileName="${basedir}/logs/{#}_ScanSnapShot.log"
            archiveDateFormat="yyyy_MM_dd"
            archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveDays="30"
            maxArchiveFiles="30"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${level:uppercase=true}] ${message} ${exception:format=tostring}"
            encoding="utf-8"
            keepFileOpen="false" />
  </targets>

  <rules>
    <!-- 全てのログ (Infoレベル以上) を logfile ターゲットに出力 -->
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>
